.adp-main-content {
  width: 100%;
  height: 100%;
}

.adp-param-wrapper {
  /* max-width: 100px; */
  width: 145px;
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;
}

.tp-th-op {
  text-align: right !important;
}

.tp-td-op {
  text-align: right;
}
