.gp-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.gp-content {
  position: relative;
  width: 100%;
  min-width: 265px;
  max-width: 700px;
  height: 235px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--card-gray);
  border-radius: var(--card-radius);
  padding: 1.2rem;
  transform: translateY(+50%);
  animation: sp-slide-in 220ms forwards ease-out;
}

.gp-inputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: -0.4rem;
  margin-bottom: 1rem;
}

.gp-title {
  width: 100%;
  text-align: left;
}

.gp-abort {
  position: absolute;
  top: 13px;
  right: 13px;
  content: url('./../../public/svg/x.svg');
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0.4;
  transition: all 90ms ease-in-out;
}

.gp-abort:hover {
  opacity: 1;
}

.gp-ok-btn {
  width: 100%;
  background-color: var(--blue);
  text-align: center;
  padding: 0.6rem 0;
  cursor: pointer;
  transition: all 120ms ease-in-out;
  border-radius: 2px;
  border-top: 4px solid var(--blue);
  border-bottom: 4px solid var(--blue);
}

.gp-ok-btn:hover {
  border-bottom: 4px solid var(--dark-blue);
}

.gp-ok-btn:active {
  transform: scale(0.96);
}

.gp-input {
  width: 100%;
  margin: 0 0.5rem;
}

.gp-disabled {
  pointer-events: none;
  opacity: 0.5;
}

@keyframes sp-slide-in {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
