.s-subject {
  position: relative;
  min-width: 266px;
  max-width: 290px;
  width: 290px;
  min-height: 150px;
  margin: 6px;
  padding: 18px;
  opacity: 0;
  animation: rise-up 220ms ease-in-out forwards,
    opacity-in 220ms ease-in-out forwards;
  overflow: hidden;
}

.s-subject-top {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.s-subject-title {
  font-size: 38px;
  width: 100%;
}

.s-subject-teacher-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.s-subject-teacher-warning {
  content: url('./../../public/svg/warning.svg');
  width: 18px;
  height: 18px;
  margin-left: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.s-subject-teacher-warning:hover {
  opacity: 1;
}

.s-subject-teacher {
  margin: 0.2rem 0;
  padding-left: 0.1rem;
  color: #999999 !important;
  font-weight: lighter;
  font-size: 16px;
  width: 100%;
}

.s-edit-btn-wrapper {
  position: absolute;
  width: 40px;
  min-height: 35px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  top: 0px;
  /* bottom: 45%; */
  right: 0px;
  /* padding: 0.3rem; */
  letter-spacing: 0.2rem;
  border-radius: 2px var(--card-radius) 2px 2px;
}

.s-edit-btn-wrapper:hover {
  background-color: var(--card-gray);
  box-shadow: 0px 2px 5px 2px #000000af;
}

.s-edit-btn-wrapper:hover .s-edit-btn-content {
  display: block;
}

.s-edit-btn-content {
  display: none;
}

.s-edit-btn {
  content: url('../../public/svg/tdot.svg');
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  padding: 2px;
}

.s-edit-btn-el {
  background-color: var(--card-gray);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  transition: all 90ms;
}

.s-edit-btn-el:active {
  transform: scale(0.9);
}

.s-edit-btn-el-edit {
  content: url('./../../public/svg/wrench.svg');
  padding: 9px;
}

.s-edit-btn-el-trash {
  content: url('./../../public/svg/trash.svg');
}

.s-edit-btn-el:hover {
  background-color: #b3b3b331;
}

.s-edit-btn-el-trash:hover {
  content: url('./../../public/svg/trash-white.svg');
  background-color: #ff1e1ed3;
}

.s-subject-separator {
  width: 100%;
  height: 1px;
  background-color: #b3b3b38e;
  margin: 0 0 20px;
}

.s-subject-teachers-warning {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 5rem;
  padding-top: 0.5rem;
  z-index: 1;
}

.s-subject-data {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 25px;
}

.s-subject-grades {
  width: 50%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}

.s-subject-grades input {
  text-align: center;
}

.s-subject-grade-wrapper {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.s-subject-grade-wrapper:hover .s-subject-grade-delete {
  display: block;
}

.s-subject-grade-delete {
  content: url('./../../public/svg/x.svg');
  position: absolute;
  width: 12px;
  height: 12px;
  opacity: 0.2;
  display: none;
  cursor: pointer;
  transition: all 50ms ease-in;
  transform: translateY(2px);
}

.s-subject-grade-delete:hover {
  opacity: 0.5;
}

.s-subject-grade-delete:active {
  transform: scale(0.9) translateY(2px);
}

.s-subject-grade {
  font-weight: 100;
  font-size: 30px;
  margin: 0;
  padding: 8px 0 0 0;
}

.s-subject-grade-good {
  color: #007eff !important;
}

.s-subject-grade-bad {
  /* color: #ee2400 !important; */
  color: #ff9688 !important;
}

.s-subject-avg-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  margin-left: -15px;
}

.s-subject-avg-border {
  height: 129px;
  text-align: center;
  background: linear-gradient(
    197deg,
    rgba(0, 126, 255, 1) 0%,
    rgba(0, 234, 255, 1) 100%
  );
  border-radius: 50%;
  padding: 2px;
}

.s-subject-avg {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 4.377rem;
  /* font-size: 70px; */
  border-radius: 50%;
  background-color: var(--card-gray);
  padding: 0 0.917rem;
}

.s-subject-add-grade-wrapper,
.s-subject-apply-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 60px;
}

.s-subject-add-grade,
.s-subject-apply {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  bottom: 12px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  text-align: center;
  background-color: var(--dark-gray);
  /* background: var(--blue-grad-tilted); */
  /* background-color: #007eff; */
  font-size: 24px;
  font-family: Roboto;
  font-weight: 300;
  color: #fff;
  box-shadow: 0px 8px 15px #00000033;
}

/* .s-subject-add-grade {
  animation: s-subject-apply-in ease-in-out 220ms forwards;
} */

.s-subject-apply {
  background: var(--green-grad-tilted);
  content: url('./../../public/svg/tick.svg');
  width: 42px;
  height: 42px;
  padding: 10px;
  transform: scale(0.9);
  opacity: 0;
  animation: s-subject-apply-in ease-in-out 220ms forwards;
}

.s-subject-apply:active {
  opacity: 1;
}

.s-subject-add-grade-wrapper :hover {
  background: var(--blue-grad-tilted);
}

.s-subject-add-grade-wrapper :active,
.s-subject-apply-wrapper :active {
  animation: btn-click-in ease-in-out 100ms forwards;
}

.s-input-editing {
  background-color: #00000049 !important;
  border-radius: 4px;
  padding: 0.2rem;
}

@keyframes s-subject-apply-in {
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
