.lp-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    197deg,
    rgba(0, 126, 255, 1) 0%,
    rgba(0, 234, 255, 1) 100%
  );
  background-size: 400% 400%;
  background-repeat: no-repeat;
  animation: anim-bg 13s ease-in-out infinite;
}

.lp-main-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  width: 920px;
  max-height: 530px;
  height: 530px;
  border: none;
  border-radius: 10px;
  background-color: var(--card-gray);
  overflow: hidden;
  box-shadow: var(--card-shadow);
  transition: all 180ms ease-in-out;
}

.lp-left-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1.2rem;
  padding-bottom: 2rem;
}

.lp-left-top {
  width: 100%;
  height: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.lp-left-title {
  /* text-transform: uppercase; */
  width: 90%;
  padding-top: 1.12rem;
  text-align: center;
  border-bottom: 1px solid var(--dark-gray);
}

.lp-left-title h1 {
  color: #fff;
  letter-spacing: 0.2rem;
  font-size: 3.2rem;
}

.lp-left-bottom {
  width: 100%;
  height: 50%;
  padding: 2.1rem;
  margin-bottom: 1.4rem;
}

.lp-left-botbot {
  height: 50%;
}

.lp-left-botbot {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.lp-left-bottom .input {
  margin-bottom: 1.1rem;
}

.lp-right-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--lp-dark-gray);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 2.4rem 2rem;
  z-index: -1;
  transition: all 250ms ease-in-out;
}

.lp-right-title {
  /* text-transform: uppercase; */
  width: 90%;
  text-align: center;
  border-bottom: 1px solid var(--dark-gray);
}

.lp-right-title h1 {
  color: #fff;
  letter-spacing: 0.2rem;
  font-size: 3.2rem;
}

.lp-right-content {
  width: 100%;
  height: 100%;
  padding-top: 2.5rem;
}

.lp-le {
  width: 100%;
  height: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.lp-le-bullet {
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--dark-gray);
  font-size: 3.1rem;
  margin: 0 1.4rem 0 0;
  transform: translateY(-1px);
}

.lp-le-content {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  /* background-color: var(--dark-gray); */
}

.lp-le-content-lowa {
  opacity: 0.3;
}

.lp-right-chart {
  position: absolute;
  /*content: url("../public/svg/bar-chart.svg");*/
  opacity: 0.05;
  width: 100%;
  height: 50%;
  bottom: 2.4rem;
  transition: all 90ms ease-in-out;
}

.lp-right-chart:hover {
  opacity: 0.08;
}

@keyframes anim-bg {
  0% {
    background-position: 0 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.intro {
  animation: slide-in-bottom 400ms ease-in-out forwards,
    opacity-in 400ms ease-in-out forwards;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(25%);
  }
  100% {
    transform: translate(0%);
  }
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
