.loap-main {
  width: 100%;
  height: 100%;
  background-color: var(--bg-gray);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.loap-loading-bar {
  width: 100%;
  margin: auto;
  text-align: center;
}

.loap-loading-bar::before {
  content: url('../../public/svg/loading.svg');
  width: 20px;
  height: 20px;
}

.loap-hidden {
  opacity: 0;
}

.loap-msg-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  animation: fade-in 230ms forwards ease-in;
}

.loap-msg {
  color: #fff;
  font-size: 1.8rem;
  transform: translateY(1.5rem);
}

.loap-msg-hint {
  color: #b3b3b3af;
  font-size: 1rem;
  margin-top: 1.8rem;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
