.tp-main-content {
  width: 100%;
  height: 100%;
}

.tp-modes-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 2.2rem 0;
}

.tp-mode {
  font-size: 1.6rem;
  margin: 0 0.6rem;
}

.tp-slider {
  width: 100%;
  max-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tp-tables-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
}

.tp-left-table,
.tp-right-table {
  width: 100%;
  min-height: 70px;
  margin: 0 1rem;
  background-color: var(--bg-nav);
  border-radius: 4px;
  padding: 0.6rem;
  transition: all 200ms linear;
}

.tp-table {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  overflow: hidden;
  border-collapse: collapse;
}

.tp-tr,
.tp-tr-current,
.tp-tr-loading {
  width: 100%;
  border-left: 4px solid transparent;
  transition: all 120ms linear;
}

.tp-tr {
  border-top: 1px solid var(--dark-gray);
}

.tp-tr:first-child {
  border: none;
  background-color: var(--card-gray);
}

.tp-tr:nth-child(2) {
  border-top: none;
  border-right: none;
  border-bottom: none;
}

/* .tp-tr:nth-last-child(odd),
.tp-tr-current:nth-last-child(odd) {
  background-color: var(--card-gray);
} */

.tp-tr-current {
  border-left: 4px solid var(--blue);
}

.tp-td,
.tp-th {
  padding: 1rem;
}

.tp-th {
  text-align: left;
  font-size: 1.2rem;
}

.tp-td {
  color: var(--gray);
}

.tp-td-loading {
  width: 100%;
  height: 51px;
  background-image: url('./../../public/svg/loading.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
