.tp-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.tp-wrapper {
  margin: auto;
  width: 500px;
  height: 500px;
  background-color: var(--bg-nav);
  align-items: center;
  border-radius: 10px;
}

.tp-items {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.tp-buttons-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10px;
}

.tp-class-button {
  margin-right: 10px;
}

.tp-class-button:focus,
.tp-subjects-button:focus {
  outline: none;
}

.tp-class-button:hover,
.tp-subjects-button:hover {
  background-color: var(--gray);
}

.tp-class-button-border,
.tp-subjects-button-border {
  width: 150px;
  height: 100px;

  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition: all 90ms ease-in-out;
  outline: none;
}

.tp-class-button-border:hover,
.tp-class-button-border:focus,
.tp-subjects-button-border:hover,
.tp-subjects-button-border:focus {
  outline: none;
  cursor: pointer;
}

.tp-class-button-border:active,
.tp-subjects-button-border:active {
  transform: scale(0.91);
  outline: none;
}

.tp-class-button,
.tp-subjects-button,
.tp-students-button {
  width: 100%;
  height: 100%;
  max-width: 150px;
  border: none;
  border-radius: 4%;
  background-color: var(--card-gray);
  font-size: 2.4rem;
  transition: all 120ms ease-in-out;
}

.tp-subjects-table,
.tp-class-table,
.tp-students-table {
  width: 500px;
  height: 100px;
  margin: auto;
}

.tp-subjects-table tr:nth-child(even),
.tp-class-table tr:nth-child(even),
.tp-students-table tr:nth-child(even) {
  background-color: var(--card-gray);
}

.tp-subjects-table td,
.tp-class-table td,
.tp-students-table td {
  color: var(--gray);
  width: 500px;
}
