.pa-main-content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.pa-content-page {
  width: 100%;
  height: 100%;
  background-color: var(--bg-gray);
  /* background-color: #fff; */
  overflow: auto;
  padding: 20px;
}

/* width */
.pa-content-page::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.pa-content-page::-webkit-scrollbar-track {
  background: #343434;
}

/* Handle */
.pa-content-page::-webkit-scrollbar-thumb {
  background: #505050;
}

/* Handle on hover */
.pa-content-page::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.pa-prompt-overlay,
.pa-prompt-overlay-hidden {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.575);
  transition: all 160ms ease-in-out;
  pointer-events: all;
}

.pa-prompt-overlay-hidden {
  background-color: transparent;
  pointer-events: none;
}

.pa-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pa-toasts {
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 60px;
  min-width: 250px;
}
