.wc-main-content {
  width: 100%;
  opacity: 0;
  animation: wc-welcome-text-in 300ms 80ms forwards ease-out;
}

.wc-welcome-text {
  font-weight: 100;
  color: #ffffff62;
}

.wc-welcome-text span {
  color: #fff;
}

.wc-welcome-separator {
  width: 100%;
  height: 1px;
  margin: 8px auto 14px;
  background-color: #b3b3b336;
  animation: grow-horiz 320ms ease-in-out forwards;
}

@keyframes wc-welcome-text-in {
  100% {
    opacity: 1;
  }
}
