h1 {
  color: #000;
}

.hp-mock-text {
  background-color: var(--dark-gray);
  border-radius: 6px;
  height: 5px;
  transform: translateY(-2px);
}

.hp-main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.hp-top-bar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: var(--bg-gray);
  box-shadow: 0px 5px 5px 0px #00000031;
  z-index: 1;
  /* display: none; */
}

.hp-menu-btn {
  content: url('../../public/svg/simple-arrow.svg');
  width: 24px;
  height: 24px;
  transform: translateY(8px) translateX(113px) rotate(-90deg);
  animation: menu-btn-flip-out 120ms ease-in-out forwards;
}

.hp-menu-btn:hover {
  animation: menu-btn-flip-in 120ms ease-in-out forwards;
}

.hp-content-page {
  width: 100%;
  height: 100%;
  background-color: var(--bg-gray);
  /* background-color: #fff; */
  /* overflow: auto; */
}

.hp-welcome-panel {
  width: 100%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.hp-card {
  background-color: var(--card-gray);
  border-radius: 10px;
  box-shadow: 0 5px 5px -3px #00000040, 0 8px 5px 1px #00000030,
    0 3px 5px 2px #00000029;
}

.hp-trend-panel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
  max-width: 1763px;
  margin: 0 auto;
}

.hp-chart-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: hidden;
}

.hp-chart {
  width: 50%;
  height: 100%;
  max-height: 450px;
}

.hp-trend-data {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #ffffff05;
}

.hp-trend-data-column {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
}

.hp-trend-data-column-title {
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--gray);
  text-align: center;
  margin: 0 auto 1.8rem;
}

.hp-trend-data-mock {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: var(--dark-gray);
  margin-bottom: 30px;
}

.hp-trend-data-separator {
  width: 1px;
  height: 90%;
  margin: auto 0;
  background-color: var(--dark-gray);
}

.hp-trend-data-page-switcher {
  display: none;
  height: 35px;
  width: 80px;
  margin: 0 auto;
}

.hp-trend-data-page-switcher #left {
  content: url('../../public/svg/simple-arrow.svg');
  width: 28px;
  height: 20px;
}

.hp-trend-data-page-switcher #right {
  content: url('../../public/svg/simple-arrow.svg');
  width: 28px;
  height: 20px;
  transform: rotate(180deg);
}

.hp-trend-data-page-switcher #right:active ~ .hp-trend-data-column {
  display: block;
}

.hp-trend-data-page-switcher #right:active ~ .hp-trend-data-column {
  display: none;
}

.hp-search-bar {
  /* width: 98.5%; */
  padding: 0.4rem 0;
  margin: auto;
  opacity: 0;
  animation: hp-search-bar-in 0.8s forwards, rise-up 350ms ease-in-out forwards,
    opacity-in 0.8s ease-in-out forwards;
  animation-timing-function: cubic-bezier(0, 1.11, 1, 0.99);
}

.hp-subjects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  /* padding-bottom: 100px; */
}

.hp-rise-opacity-in {
  animation: rise-up 350ms ease-in-out forwards,
    opacity-in 220ms ease-in-out forwards;
}

.hidden {
  display: none;
}

@media (max-width: 1600px) {
  .hp-trend-data {
    height: 56%;
  }

  .hp-chart-wrapper {
    height: 350px;
    padding: 10px;
  }
}

@media (max-width: 1000px) {
  .hp-trend-data {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: start;
    height: 56%;
  }

  .hp-trend-data-separator {
    display: none;
  }

  .hp-trend-data-page-switcher {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 12px;
  }

  #section2 {
    display: none;
  }

  .hp-content-page {
    width: 100%;
  }
}

@keyframes btn-click-in {
  100% {
    transform: scale(0.85);
  }
}

@keyframes btn-click-out {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes menu-btn-flip-in {
  100% {
    transform: translateY(8px) translateX(113px) rotate(-270deg);
  }
}

@keyframes menu-btn-flip-out {
  0% {
    transform: translateY(8px) translateX(113px) rotate(-270deg);
  }
  100% {
    transform: translateY(8px) translateX(113px) rotate(-90deg);
  }
}

.opacity-in {
  animation: opacity-in 220ms ease-in-out forwards;
}

@keyframes opacity-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rise-up {
  animation: rise-up 350ms ease-in-out forwards;
}

@keyframes rise-up {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes grow-horiz {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hp-subject-wrap-slide-in {
  100% {
    transform: translate(0);
  }
}

@keyframes hp-search-bar-in {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 98.5%;
    opacity: 1;
  }
}
