.right-content {
  width: 100%;
  height: 100%;
  padding-top: 35px;
}

.le {
  width: 100%;
  height: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.1rem;
}

.le-bullet {
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff !important;
  font-size: 3.1rem;
  margin: 0 1.4rem 0 0;
  transform: translateY(-1px);
}

.le-content {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  /* background-color: var(--dark-gray); */
}

.le-content-lowa {
  opacity: 0.3;
}

.right-chart:hover {
  opacity: 0.08;
}
