.ob-add-button {
  background: rgba(0, 126, 255, 1);
  color: white;
  border-radius: 15px;
  border: none;
  height: 30px;
  width: 100px;
  color: white;
  margin: 0.5rem;
}

.ob-option-button {
  background: var(--card-gray);
  color: white;
  border-radius: 100%;
  border: solid;
  border-color: white;
  height: 30px;
  width: 30px;
}
