.ap-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    197deg,
    rgba(0, 126, 255, 1) 0%,
    rgba(0, 234, 255, 1) 100%
  );
  background-size: 400% 400%;
  background-repeat: no-repeat;
}

.ap-main-content {
  display: block;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 850px;
  border: none;
  border-radius: 10px;
  background-color: var(--card-gray);
  overflow: hidden;
  box-shadow: var(--card-shadow);
  transition: all 180ms ease-in-out;
  padding: 3rem 3rem;
}

.ap-title {
  color: #ffffff;
  text-align: left;
}

.ap-text {
  color: grey;
  text-align: justify;
  padding-top: 0.4rem;
}
